@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


h1{
    font-family: 'Playfair Display', serif;
    color: #800080;
    width: 90%;
    height: auto;
    position: relative; 
    margin-top: 10px; 
    margin-left: 10px; 
    z-index: 2;
}

.logogc {
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 90px;
}

#map{
    height: 650px;
    
}

#referencias {
    font-family: 'Playfair Display';
    font-size: 17px;
    font-weight: lighter;
    position: fixed;
    width: 150px;
    height: 50%;
    top: 48%;
    left: 20px;
    z-index: 400;
}

#caminar {
    font-family: 'Playfair Display';
    font-size: 12px;
    font-weight: normal;
    position: fixed;
    width: 260px;
    height: 30%;
    top: 35%;
    left: 20px;
}

.titulo{
    text-align: center;
    font-size: 18px;
    font-style: italic;
    
}

.subtitulo{
    background-color: #16b934;
    border:3px solid black;
    text-align:center;
    font-weight: bold;
}

.bueno{
    background-color: #fbeb09;
    border:3px solid black;
    text-align:center;
}

.regular{
    background-color: #ff7f00;
    border:3px solid black;
    text-align:center;
}

.malo{
    background-color: #e31a1c;
    border:3px solid black;
    text-align:center;
}

.icono_referencia {
    display: none;
    font-family: 'PlayfairDisplay', serif;
    font-size: 18px/1.5;
    color: #000000;
    margin-bottom: 15px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.76);
    border-color: #444444;
    border-width: 3px;
    border-style: solid;
    padding: 10px;
}

@media (min-width:350px){

    h1{
    font-size: 18px;
    }
    #caminar {
        font-family: 'Playfair Display';
        font-size: 9px;
        font-weight: normal;
        position: fixed;
        width: 220px;
        left: 20px;
    }
    #referencias {
        font-family: 'Playfair Display';
        font-size: 9px;
        font-weight: lighter;
        position: fixed;
        top: 25%;
        left: 20px;
        z-index: 400;
    }
    .titulo{
        text-align: center;
        font-size: 10px;
        font-style: italic;
    }
    #map{
        height: 720px;
    }
    .logogc {
        visibility: hidden;
    }

}

@media (min-width:400px){
    #referencias {
        font-family: 'Playfair Display';
        font-size: 12px;
        font-weight: lighter;
        position: fixed;
        width: 120px;
        height: 30%;
        top: 45%;
        left: 20px;
        z-index: 400;
    }
    #map{
        height: 750px;
    }
    .logogc {
        visibility: hidden;
    }
}

@media (min-width:450px){
    #referencias {
        font-family: 'Playfair Display';
        font-size: 12px;
        font-weight: lighter;
        position: fixed;
        width: 150px;
        height: 50%;
        top: 45%;
        left: 20px;
        z-index: 400;
    }
    #map{
        height: 750px;
    }
    .logogc {
        visibility: hidden;
    }
}

@media (min-width:500px){
    #caminar {
        font-family: 'Playfair Display';
        font-size: 9px;
        font-weight: normal;
        position: fixed;
        width: 220px;
        left: 20px;
    }
    #referencias {
        font-family: 'Playfair Display';
        font-size: 9px;
        font-weight: lighter;
        position: fixed;
        top: 25%;
        left: 20px;
        z-index: 400;
    }
    #map{
        height: 750px;
    }
    .logogc {
        visibility: hidden;
    }
}

@media (min-width:750px){
    h1{
        font-size: 25px;   
      }
    #referencias {
        font-size: 12px;
        top: 45%;
    }
    .titulo{
        text-align: center;
        font-size: 18px;
        font-style: italic;
    }
    #caminar {
        font-family: 'Playfair Display';
        font-size: 14px;
        font-weight: normal;
        position: fixed;
        width: 260px;
        height: 30%;
        top: 23%;
        left: 20px;
    }
    #map{
        height: 750px;
    }
    #referencias {
        font-family: 'Playfair Display';
        font-size: 12px;
        font-weight: lighter;
        position: fixed;
        width: 150px;
        height: 50%;
        top: 45%;
        left: 20px;
        z-index: 400;
    }
    #caminar {
        font-family: 'Playfair Display';
        font-size: 12px;
        font-weight: normal;
        position: fixed;
        width: 300px;
        height: 25%;
        top: 23%;
        left: 20px;
    }
}

@media (min-width:1024px){
    h1{
        font-size: 30px;   
    }
    #referencias {
        font-size: 14px;
        top: 48%;
    }
    #caminar {
        font-family: 'Playfair Display';
        font-size: 12px;
        font-weight: normal;
        position: fixed;
        width: 300px;
        height: 25%;
        top: 25%;
        left: 20px;
    }
    #map{
        height: 750px;
    }
    .logogc {
        visibility: visible;
    }
}

@media (min-width:1366px){
    h1{
      font-size: 30px;   
    }
    #referencias {
        font-size: 17px;
        top: 48%;
    }
    #map{
        height: 680px;
    }
    .logogc {
        visibility: visible;
    }
}

@media (min-width:1920px){
    h1{
        font-family: 'Playfair Display', serif;
        color: #800080;
        width: 90%;
        height: auto;
        font-size: 30px;   
        position: relative; 
        margin-top: 10px; 
    }
    #caminar {
        font-family: 'Playfair Display';
        font-size: 14px;
        font-weight: normal;
        position: fixed;
        width: 260px;
        height: 30%;
        top: 26%;
        left: 20px;
    }
    #referencias {
        font-size: 17px;
        top: 48%;
    }
    #map{
        height: 830px;
    }
    .logogc {
        visibility: visible;
    }
}
    

 